.form-container {
  width: 750px;
  height: 100px;
  background-color: #c5cae9;
  border-radius: 10px;
}

form {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputbox {
  margin: 30px 0 0 10px;
  padding: 5px;
  border-radius: 20px;
  font-size: 20px;
}
.titleinput {
  font-size: 25px;
}
.bodyinput {
  font-size: 25px;
  margin: 0 20px 0 20px;
}
.addbtn {
  margin-top: 25px;
  padding: 5px 10px 4px 10px;
  background-color: #f8fdff;
  border: solid 1px #7986cb;
  border-radius: 20px;
  color: #7986cb;
  font-size: 25px;
  cursor: pointer;
  transition: 0.2s;
}
.addbtn:hover {
  background-color: #7986cb;
  border: solid 1px #f8fdff;
  color: #f8fdff;
}
